/* CONTAINTER GRID SETUP */
.dashboardGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto;
    grid-row-gap: 5vh;
    grid-template-areas:
        "nav nav nav"
        ". main ."
}

.dashboardNav {
    grid-area: nav;
    background-color: #333;
}

.componentGrid {
    grid-column: main;
}

/* COMPONENT GRID SETUP */

.componentGrid {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 250px auto;
    grid-template-rows: 350px auto;
    grid-template-areas:
        "about projects"
        ". projects";
}

