.fileUpload {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
        "dropzone"
        "files";
}

.droppedFiles {
    grid-area: files;
}


.dropzone {
    grid-area: dropzone;
    width:100%;
    height:100%;
    border: 1px dashed #888;
    border-radius: 5px;
}