.welcome {
    height: 100%;
    text-align: center;
}

.welcome .welcomeElements {
    padding-top: 150px;
    top: 50%;
    margin: 0;
}

.welcomeElements h1 {
    margin: 0;
    font-size: 50px;
}

.getStarted {
    background-color: rgb(42, 177, 255);
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 24px;
    border-radius: 5px;
}

.getStarted:hover {
    background-color: rgba(42, 177, 255, 0.74);
}