/*BACKGROUND/GRID CSS*/

.componentWrapper {
    background-color: rgb(42, 177, 255);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-row-gap: 50px;
}

/* LOGO */

.logo {
    grid-column: 2/3;
    grid-row: 3/4;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.logo a:visited {
    color: white;
    text-decoration: none;
}

/* LOGIN CSS */

select {
    -webkit-appearance: none;
    /*webkit browsers */
    -moz-appearance: none;
    /*Firefox */
    appearance: none;
}

.formButton {
    text-transform: uppercase;
    outline: 0;
    background: rgb(42, 177, 255);
    width: 95px;
    text-align: center;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    align-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.loginButton:hover {
    background-color: rgb(119, 205, 255);
}

.loginWrapper input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

.loginWrapper .wrongInput {
    border: 2.4px solid red
}

.loginWrapper a:hover {
    color: rgb(119, 205, 255);
}

.loginWrapper a {
    color: rgb(42, 177, 255);
}

.loginWrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Create account css */

#formSelect {
    width: 48%;
    margin-right: 4%;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

#formDate {
    width: 48%;
    margin-right: 4%;
}

#formCheckbox {
    width: 5%;
}
