.projectList h1 {
    font-size: 50px;
    padding-top: 0;
    margin: 0;
    grid-area: title;
}

.projectList {
    text-align: left;
    padding-top: 0px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 20% auto;
    grid-row-gap: 30px;
    grid-template-areas:
        "title button"
        "projects projects";
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
    border: 2px solid rgb(42, 177, 255);
}

.newProject button {
    grid-area: button;
    background-color: rgb(42, 177, 255);
    color: white;
    padding: 5px;
    font-size: 24px;
    border: 0;
    border-radius: 5px;
    float: right;
    height: 100%;
    padding: 0 20px;
}

.newProject button:hover {
    background-color: rgba(42, 177, 255, 0.74);
    cursor: pointer;
}

.projects {
    grid-area: projects;
}

.projectLink {
    border: 1px solid rgb(42, 177, 255);
    color: rgb(42, 177, 255);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.projectLink:hover {
    cursor: pointer;
    background-color: rgb(42, 177, 255);
    color: white;
}

/* CREATE PROJECT FORM */

