.projectList h1 {
    font-size: 50px;
    padding-top: 0;
    margin: 0;
    grid-area: title;
}

.projectList {
    text-align: left;
    padding-top: 0px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 20% auto;
    grid-row-gap: 30px;
    grid-template-areas:
        "title button"
        "projects projects";
    background-color: white;
    padding: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.projects {
    grid-area: projects;
}

.projects h2 {
    font-size: 25px;
}

.projectLink {
    border-top: 1px solid rgb(209, 209, 209);
    padding: 10px 2px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: background-color .1s ease-in;
}

.projectLink:hover {
    background-color: rgb(245, 245, 245);
}

.invitedLink {
    display: flex;
    border-top: 1px solid rgb(209, 209, 209);
    padding: 10px 2px;
    color: black;
    font-size: 20px;
    transition: background-color .1s ease-in;
}

.inviteBtns {
    margin-left: auto;
}

#accept {
    color: rgb(99, 215, 105);
    background: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(99, 215, 105);
    cursor: pointer;
    transition: background .1s ease-in;
    margin: 5px;
}

#accept:hover {
    background: rgba(99, 215, 105, 0.082);
}

#deny {
    color: white;
    background: #d85151;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    transition: background .1s ease-in;
    margin: 5px;
}

#deny:hover {
    background: #eb6464;
}
/* CREATE PROJECT FORM */

