.projectCard {
    display: grid;
    width: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title settings"
        "desc desc";
    background-color: white;
    border: 0 solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}

.title {
    grid-area: title;
    text-align: left;
}

.title, .description {
    margin-left: 10px;
}

.description {
    grid-area: desc;
    text-align: left;
}

.buttons {
    grid-area: settings;
}

#archiveProjBtn {
    border: 0;
    background: white;
    color: #3f79a8;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: color .1s ease-in;
}

#archiveProjBtn:hover {
    color: #5593c5;
}

#projMemberBtn {
    border: 0;
    background: white;
    color: #d85151;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: color .1s ease-in;
}

#projMemberBtn:hover {
    color: #eb6464;
}

.memberSettings {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 40px;
    grid-template-areas: "search" "list";
}

.searchMembers {
    grid-area: search;
    border: 3px solid rgb(99, 215, 105);
    border-radius: 5px;
    width: 60%;
    height: 30px;
    margin: 0 auto;
}

.searchMembers input {
    width: 75%;
    border: 0;
    height: 28px;
    outline: none;
    float: left;
}

.searchMembers button {
    background: rgb(99, 215, 105);
    width: 20%;
    color: white;
    border: 0;
    height: 30px;
    float: right;
    border-right: 2px solid rgb(99, 215, 105);
}

#memberList {
    grid-area: list;
    display:grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: auto;
}

.member {
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
}

#removeBtn {
    background: rgb(240, 74, 74);
    margin: 0 auto;
    border: 0;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: background .1s ease-in;
    cursor: pointer;
}

#removeBtn:hover {
    background: rgb(233, 96, 96);
}