.projectContainer {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas:
        "nav nav nav"
        ". main .";
    grid-row-gap: 20px;
    justify-items: center;
}

.projectNav {
    grid-area: nav;
    width: 100%;
}

.projectMain {
    grid-area: main;
    width: 50vw;
    background: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.addRev {
    margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
    .projectMain {
        width: 80vw;
    }
}