.revisionCard {
    width: 90%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr auto ;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "title user"
        "body body"
        "id comment";
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border: 0 solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}

.revTitle {
    grid-area: title;
    text-align: left;
}

.revIdHolder {
    grid-area: id;
    text-align: left;
}

.revId {
    padding: 5px;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    font-size: 13px;
}

.revDate {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    color: rgb(172, 172, 172);
}

.revBody {
    grid-area: body;
    text-align: left;
}

.gridComment {
    grid-area: comment;
}

.revComments {
    background-color: white;
    border-radius: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    overflow:auto;
}

/* .revComments:after {
    overflow: auto;
} */

.revComments h4, .revComments p {
    margin: 0;
    float: left;
}

.createCommentBtn {
    border: 0;
    color: white;
    background: rgba(7, 170, 234, 1);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background .1s ease-in;
}

.createCommentBtn:hover {
    background: rgb(86, 196, 240);
}

.commentForm {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "box btn";
}

.btnContainer {
    grid-area: btn;
}

.btnContainer button {
    height: 100%;
    color: white;
    background: rgba(7, 170, 234, 1);
    cursor: pointer;
    transition: background .1s ease-in;
    border: 1px solid rgba(7, 170, 234, 1);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btnContainer button:hover {
    background: rgb(86, 196, 240);
}

/* REVISION COMMENT CSS */

.revComments {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "avatar date"
        "avatar comment";
}

.commentUser {
    grid-area: avatar;
}

.commentDate {
    grid-area: date;
    text-align: left;
    color: rgb(86, 196, 240);
    font-weight: normal;
}

.commentText {
    grid-area: comment;
    text-align: left;
    font-size: 14px;
}