.sidebar {
    text-align: left;
    display: grid;
    grid-template-rows: auto;
    background-color: #3f79a8;
    padding: 20px;
    color: white;
    border: 0 solid #e7e7e7;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.05);
}

.UserAvatar--inner {
    margin: 0 auto;
}

#dashLogout {
    background-color: rgb(243, 243, 243);
    border: 0;
    border-radius: 3px;
    padding: 10px;
    color: #3f79a8;
    cursor: pointer;
    transition: background .1s ease-in;
}

#dashLogout:hover {
    background: white;
}